[
  {
    "varianceafefinalcalc": 1559000,
    "jobidc": null,
    "variancefieldcalc": -67006.05000000028,
    "projectrefnumbercalc": "9",
    "mudcostcalc": 59706.86000000001,
    "durationtechlimittotalcalc": 0,
    "usertxt4": null,
    "durationpersonnelotcalc": null,
    "dttmstartplan": null,
    "durationproblemtimecalc": 1.3125,
    "summarygeo": null,
    "afetotalnormcalc": 1559000,
    "safetyincnocalc": 0,
    "durationpersonnelregcalc": 201.43750000000017,
    "afepertargetdepthcalc": 410.35888602866953,
    "estcostnormsavecalc": null,
    "syscreatedate": 1399542437667,
    "usertxt2": null,
    "depthperratiodurationcalc": 12395.097113924041,
    "rateactualcond": null,
    "usertxt5": null,
    "userboolean1": 0,
    "tmtripcalc": 0,
    "summary": null,
    "costtotalcalc": 1626006.0500000002,
    "durationmltotalcalc": 9.02,
    "costpertldurcalc": 164658.84050632903,
    "ratetargetoil": null,
    "ropslidingcalc": null,
    "idrecwellboretk": "wvwellbore",
    "afeperdurmlnormcalc": 180266.74611973396,
    "dttmstart": 1400383800000,
    "usernum3": null,
    "tmslidingcalc": null,
    "dttmtotaldepthcalc": 1404050400000,
    "depthdrilledcalc": 4080.0527999999995,
    "rateactualgas": null,
    "afeamtnormcalc": 1559000,
    "dttmendplanmlcalc": null,
    "usernum2": null,
    "programmuddensitymincalc": null,
    "reportnocalc": 12,
    "depthrotatingcalc": 4080.0528,
    "finalinvoicetotalnormcalc": null,
    "afepertargetdepthnormcalc": 410.35888602866953,
    "tmrotatingcalc": 5.3333333333333375,
    "ratiodurtimelogrefhourscalc": 0.3291666666666669,
    "jobtyp": "Orig Drilling",
    "bitrevscalc": 524400.0000000003,
    "afenumbersuppcalc": null,
    "jobidb": null,
    "durationpersonneltotcalc": 201.43750000000017,
    "ratetargetcond": null,
    "esttimesavecalc": null,
    "estproblemcostcalc": null,
    "responsiblegrp1": null,
    "variancenormfinalcalc": 1559000,
    "ratetargetgas": null,
    "bhadrillruncalc": 5,
    "idwell": "00457D9192E649ECB8486161E58D138F",
    "durationspudtoplanmincalc": null,
    "syslockdate": 1399542437667,
    "dttmendplanmaxcalc": null,
    "durmlnoexcludecalc": 9.02,
    "depthslidingcalc": null,
    "hazardidnorptcalc": 1687,
    "idreclastrigcalc": "3C901E99B1114822A52C0A7A71D65A11",
    "afenumbercalc": "375-14-0-4-0115-0",
    "jobida": null,
    "pctproblemtimecalc": 0.1329113924050632,
    "costforecastcalc": null,
    "durationnoproblemtimecalc": 8.562500000000007,
    "systag": null,
    "durationspudtotdcalc": 38.33333333333333,
    "sysmoddate": 1412860787190,
    "jobsupplycostcalc": 0,
    "client": null,
    "usernum4": null,
    "bhatotalruncalc": 5,
    "ropcalc": 765.0098999999993,
    "responsiblegrp2": null,
    "usertxt3": null,
    "ropavgfromspudcalc": null,
    "idrectubtk": null,
    "roptimelogcalc": 413.169903797468,
    "costmaxtotalcalc": 0,
    "variancefieldfinalcalc": 1626006.0500000002,
    "totaldepthcalc": 4118.1528,
    "muddensitymaxcalc": 1641.622069143335,
    "tmothercalc": 0,
    "variancenormfieldfinalcalc": 1626006.0500000002,
    "costmintotalcalc": 0,
    "idrec": "CACCA949868A434DA0A45C5D9F7D8BD7",
    "usernum5": null,
    "tmcirccalc": 0.10416666666666675,
    "resulttechnical": null,
    "afeamtcalc": 1559000,
    "jobsubtyp": null,
    "costperdepthplanmlcalc": 393.4484151019584,
    "estcostsavecalc": null,
    "durationspudtimelogcalc": 8.229166666666666,
    "currencycode": null,
    "estproblemtimecalc": null,
    "finalinvoicetotalcalc": null,
    "idrecwellborecalctk": "wvwellbore",
    "usertxt1": null,
    "costmlnoexcludecalc": 1559000,
    "afecosttypcalc": "375-14-0-4-0115-0-Capital",
    "complexityindex": null,
    "dttmend": 1404174600000,
    "targetdepth": 3962.4,
    "mudcostnormcalc": 59706.86000000001,
    "durationmaxtotalcalc": 6.64,
    "idrecwellbore": "D3AA8D409E77416687896F9B43BFC9EA",
    "variancefinalcalc": 1559000,
    "currencyexchangerate": null,
    "costmltotalcalc": 1559000,
    "durationspudtoplanmlcalc": null,
    "programmuddensitymaxcalc": null,
    "dttmendplanmincalc": null,
    "dttmendplantechlimitcalc": null,
    "variancenormafefinalcalc": 1559000,
    "depthdrilledperbhacalc": 816.0105599999999,
    "syslockchildrenui": 0,
    "percenttmrotatingcalc": 1,
    "safetyincreportnocalc": 0,
    "dttmspud": null,
    "tmdrillcalc": 5.3333333333333375,
    "afesupamtcalc": null,
    "durationspudtoplantechlimcalc": null,
    "variancenormfieldcalc": -67006.05000000028,
    "status1": "Completed",
    "durationtimelogtotalcalc": 9.875000000000007,
    "status2": null,
    "percenttmslidingcalc": 0,
    "syslockchildren": 0,
    "afetotalcalc": 1559000,
    "costpertldurnormcalc": 164658.84050632903,
    "tdtomudcalc": null,
    "costfinalactual": null,
    "afeperdurmlcalc": 180266.74611973396,
    "syscreateuser": "amoser",
    "objectivegeo": null,
    "rateactualwater": null,
    "depthperdurplanmlcalc": 439.29046563192906,
    "costnormperdepthplanmlcalc": 393.4484151019584,
    "ratetargetwater": null,
    "syslockmeui": 0,
    "ropspudtimelogcalc": 495.803884556962,
    "roprotatingcalc": 765.0098999999994,
    "responsiblegrp3": null,
    "syslockme": 0,
    "userboolean2": 0,
    "mudtypcalc": "Oil Base",
    "usernum1": null,
    "costnormforecastcalc": null,
    "costnormtotalcalc": 1626006.0500000002,
    "targetdepthtvdcalc": 2223.824786572436,
    "idrectub": null,
    "costnormperdepthcalc": 398.52573721594984,
    "estproblemcostnormcalc": null,
    "durationspudtoplanmaxcalc": null,
    "idreclastrigcalctk": "wvjobrig",
    "durationmintotalcalc": 0,
    "sysmoduser": "amoser",
    "objective": null,
    "wvtyp": "Drilling",
    "jobsupplycostnormcalc": 0,
    "targetform": "Eagle Ford",
    "costperdepthcalc": 398.52573721594984,
    "idrecwellborecalc": "D3AA8D409E77416687896F9B43BFC9EA",
    "rateactualoil": null,
    "afesupamtnormcalc": null,
    "costtechlimittotalcalc": 0,
    "totaldepthtvdcalc": 2226.989126870256,
    "durmltotalnoplanchangecalc": 9.02,
    "chartofaccounts": null
  },
  {
    "varianceafefinalcalc": 3522001,
    "jobidc": null,
    "variancefieldcalc": -32434.865000000223,
    "projectrefnumbercalc": "12",
    "mudcostcalc": 0,
    "durationtechlimittotalcalc": 0,
    "usertxt4": null,
    "durationpersonnelotcalc": null,
    "dttmstartplan": null,
    "durationproblemtimecalc": 2.03125,
    "summarygeo": null,
    "afetotalnormcalc": 3522001,
    "safetyincnocalc": 0,
    "durationpersonnelregcalc": 325.70833333333354,
    "afepertargetdepthcalc": 897.041153089037,
    "estcostnormsavecalc": null,
    "syscreatedate": 1405611198360,
    "usertxt2": null,
    "depthperratiodurationcalc": 0,
    "rateactualcond": null,
    "usertxt5": null,
    "userboolean1": 0,
    "tmtripcalc": null,
    "summary": null,
    "costtotalcalc": 3554435.865,
    "durationmltotalcalc": 0,
    "costpertldurcalc": 85391.85261261261,
    "ratetargetoil": null,
    "ropslidingcalc": null,
    "idrecwellboretk": "wvwellbore",
    "afeperdurmlnormcalc": null,
    "dttmstart": 1405654200000,
    "usernum3": null,
    "tmslidingcalc": null,
    "dttmtotaldepthcalc": null,
    "depthdrilledcalc": null,
    "rateactualgas": null,
    "afeamtnormcalc": 3522001,
    "dttmendplanmlcalc": null,
    "usernum2": null,
    "programmuddensitymincalc": null,
    "reportnocalc": 42,
    "depthrotatingcalc": null,
    "finalinvoicetotalnormcalc": null,
    "afepertargetdepthnormcalc": 897.041153089037,
    "tmrotatingcalc": null,
    "ratiodurtimelogrefhourscalc": 1.3875000000000004,
    "jobtyp": "Orig Completion",
    "bitrevscalc": null,
    "afenumbersuppcalc": null,
    "jobidb": null,
    "durationpersonneltotcalc": 325.70833333333354,
    "ratetargetcond": null,
    "esttimesavecalc": null,
    "estproblemcostcalc": null,
    "responsiblegrp1": null,
    "variancenormfinalcalc": 3522001,
    "ratetargetgas": null,
    "bhadrillruncalc": 0,
    "idwell": "00457D9192E649ECB8486161E58D138F",
    "durationspudtoplanmincalc": null,
    "syslockdate": 1405611198360,
    "dttmendplanmaxcalc": null,
    "durmlnoexcludecalc": 0,
    "depthslidingcalc": null,
    "hazardidnorptcalc": 2619,
    "idreclastrigcalc": "EB3127E622864885BD9054E07424006C",
    "afenumbercalc": "375-13-0-4-0385-0",
    "jobida": null,
    "pctproblemtimecalc": 0.04879879879879879,
    "costforecastcalc": null,
    "durationnoproblemtimecalc": 39.59375000000001,
    "systag": null,
    "durationspudtotdcalc": null,
    "sysmoddate": 1413375461310,
    "jobsupplycostcalc": 0,
    "client": null,
    "usernum4": null,
    "bhatotalruncalc": 0,
    "ropcalc": null,
    "responsiblegrp2": null,
    "usertxt3": null,
    "ropavgfromspudcalc": null,
    "idrectubtk": null,
    "roptimelogcalc": null,
    "costmaxtotalcalc": 0,
    "variancefieldfinalcalc": 3554435.865,
    "totaldepthcalc": null,
    "muddensitymaxcalc": 0,
    "tmothercalc": null,
    "variancenormfieldfinalcalc": 3554435.865,
    "costmintotalcalc": 0,
    "idrec": "5D3EC7DB6B33404CB488922664288978",
    "usernum5": null,
    "tmcirccalc": null,
    "resulttechnical": null,
    "afeamtcalc": 3522001,
    "jobsubtyp": null,
    "costperdepthplanmlcalc": null,
    "estcostsavecalc": null,
    "durationspudtimelogcalc": null,
    "currencycode": null,
    "estproblemtimecalc": null,
    "finalinvoicetotalcalc": null,
    "idrecwellborecalctk": "wvwellbore",
    "usertxt1": null,
    "costmlnoexcludecalc": 0,
    "afecosttypcalc": "375-13-0-4-0385-0",
    "complexityindex": null,
    "dttmend": 1409769000000,
    "targetdepth": 3962.4,
    "mudcostnormcalc": 0,
    "durationmaxtotalcalc": 0,
    "idrecwellbore": "D3AA8D409E77416687896F9B43BFC9EA",
    "variancefinalcalc": 3522001,
    "currencyexchangerate": null,
    "costmltotalcalc": 0,
    "durationspudtoplanmlcalc": null,
    "programmuddensitymaxcalc": null,
    "dttmendplanmincalc": null,
    "dttmendplantechlimitcalc": null,
    "variancenormafefinalcalc": 3522001,
    "depthdrilledperbhacalc": null,
    "syslockchildrenui": 0,
    "percenttmrotatingcalc": null,
    "safetyincreportnocalc": 0,
    "dttmspud": null,
    "tmdrillcalc": null,
    "afesupamtcalc": null,
    "durationspudtoplantechlimcalc": null,
    "variancenormfieldcalc": -32434.865000000223,
    "status1": "Completed",
    "durationtimelogtotalcalc": 41.62500000000001,
    "status2": null,
    "percenttmslidingcalc": null,
    "syslockchildren": 0,
    "afetotalcalc": 3522001,
    "costpertldurnormcalc": 85391.85261261261,
    "tdtomudcalc": null,
    "costfinalactual": null,
    "afeperdurmlcalc": null,
    "syscreateuser": "cruzmd",
    "objectivegeo": null,
    "rateactualwater": null,
    "depthperdurplanmlcalc": null,
    "costnormperdepthplanmlcalc": null,
    "ratetargetwater": null,
    "syslockmeui": 0,
    "ropspudtimelogcalc": null,
    "roprotatingcalc": null,
    "responsiblegrp3": null,
    "syslockme": 0,
    "userboolean2": 0,
    "mudtypcalc": null,
    "usernum1": null,
    "costnormforecastcalc": null,
    "costnormtotalcalc": 3554435.865,
    "targetdepthtvdcalc": 2223.824786572436,
    "idrectub": null,
    "costnormperdepthcalc": null,
    "estproblemcostnormcalc": null,
    "durationspudtoplanmaxcalc": null,
    "idreclastrigcalctk": "wvjobrig",
    "durationmintotalcalc": 0,
    "sysmoduser": "trankt",
    "objective": null,
    "wvtyp": "Completion",
    "jobsupplycostnormcalc": 0,
    "targetform": "Eagle Ford",
    "costperdepthcalc": null,
    "idrecwellborecalc": "F757324BC68147268A039750DD2BF5B6",
    "rateactualoil": null,
    "afesupamtnormcalc": null,
    "costtechlimittotalcalc": 0,
    "totaldepthtvdcalc": null,
    "durmltotalnoplanchangecalc": null,
    "chartofaccounts": null
  },
  {
    "varianceafefinalcalc": null,
    "jobidc": null,
    "variancefieldcalc": -237700,
    "projectrefnumbercalc": null,
    "mudcostcalc": 0,
    "durationtechlimittotalcalc": 0,
    "usertxt4": null,
    "durationpersonnelotcalc": null,
    "dttmstartplan": null,
    "durationproblemtimecalc": null,
    "summarygeo": null,
    "afetotalnormcalc": null,
    "safetyincnocalc": 0,
    "durationpersonnelregcalc": 122.58333333333337,
    "afepertargetdepthcalc": null,
    "estcostnormsavecalc": null,
    "syscreatedate": 1409832475850,
    "usertxt2": null,
    "depthperratiodurationcalc": 0,
    "rateactualcond": null,
    "usertxt5": null,
    "userboolean1": null,
    "tmtripcalc": null,
    "summary": null,
    "costtotalcalc": 237700,
    "durationmltotalcalc": 0,
    "costpertldurcalc": 6991.176470588234,
    "ratetargetoil": null,
    "ropslidingcalc": null,
    "idrecwellboretk": "wvwellbore",
    "afeperdurmlnormcalc": null,
    "dttmstart": 1409621400000,
    "usernum3": null,
    "tmslidingcalc": null,
    "dttmtotaldepthcalc": null,
    "depthdrilledcalc": null,
    "rateactualgas": null,
    "afeamtnormcalc": null,
    "dttmendplanmlcalc": null,
    "usernum2": null,
    "programmuddensitymincalc": null,
    "reportnocalc": 34,
    "depthrotatingcalc": null,
    "finalinvoicetotalnormcalc": null,
    "afepertargetdepthnormcalc": null,
    "tmrotatingcalc": null,
    "ratiodurtimelogrefhourscalc": 1.1333333333333337,
    "jobtyp": "Flowback",
    "bitrevscalc": null,
    "afenumbersuppcalc": null,
    "jobidb": null,
    "durationpersonneltotcalc": 122.58333333333337,
    "ratetargetcond": null,
    "esttimesavecalc": null,
    "estproblemcostcalc": null,
    "responsiblegrp1": null,
    "variancenormfinalcalc": null,
    "ratetargetgas": null,
    "bhadrillruncalc": 0,
    "idwell": "00457D9192E649ECB8486161E58D138F",
    "durationspudtoplanmincalc": null,
    "syslockdate": 1409832475850,
    "dttmendplanmaxcalc": null,
    "durmlnoexcludecalc": 0,
    "depthslidingcalc": null,
    "hazardidnorptcalc": null,
    "idreclastrigcalc": "726E5C77BDAA4F0F86E43233A64C82EE",
    "afenumbercalc": "375-13-0-4-0385-0",
    "jobida": null,
    "pctproblemtimecalc": null,
    "costforecastcalc": null,
    "durationnoproblemtimecalc": 34.00000000000001,
    "systag": null,
    "durationspudtotdcalc": null,
    "sysmoddate": 1415348770547,
    "jobsupplycostcalc": 0,
    "client": null,
    "usernum4": null,
    "bhatotalruncalc": 0,
    "ropcalc": null,
    "responsiblegrp2": null,
    "usertxt3": null,
    "ropavgfromspudcalc": null,
    "idrectubtk": null,
    "roptimelogcalc": null,
    "costmaxtotalcalc": 0,
    "variancefieldfinalcalc": 237700,
    "totaldepthcalc": null,
    "muddensitymaxcalc": 0,
    "tmothercalc": null,
    "variancenormfieldfinalcalc": 237700,
    "costmintotalcalc": 0,
    "idrec": "CAD9EB9BC46540468FAF8354D83DD3C5",
    "usernum5": null,
    "tmcirccalc": null,
    "resulttechnical": null,
    "afeamtcalc": null,
    "jobsubtyp": "Testing & Analysis",
    "costperdepthplanmlcalc": null,
    "estcostsavecalc": null,
    "durationspudtimelogcalc": null,
    "currencycode": null,
    "estproblemtimecalc": null,
    "finalinvoicetotalcalc": null,
    "idrecwellborecalctk": "wvwellbore",
    "usertxt1": null,
    "costmlnoexcludecalc": 0,
    "afecosttypcalc": "375-13-0-4-0385-0",
    "complexityindex": null,
    "dttmend": 1412559000000,
    "targetdepth": null,
    "mudcostnormcalc": 0,
    "durationmaxtotalcalc": 0,
    "idrecwellbore": "D3AA8D409E77416687896F9B43BFC9EA",
    "variancefinalcalc": null,
    "currencyexchangerate": null,
    "costmltotalcalc": 0,
    "durationspudtoplanmlcalc": null,
    "programmuddensitymaxcalc": null,
    "dttmendplanmincalc": null,
    "dttmendplantechlimitcalc": null,
    "variancenormafefinalcalc": null,
    "depthdrilledperbhacalc": null,
    "syslockchildrenui": null,
    "percenttmrotatingcalc": null,
    "safetyincreportnocalc": 0,
    "dttmspud": null,
    "tmdrillcalc": null,
    "afesupamtcalc": null,
    "durationspudtoplantechlimcalc": null,
    "variancenormfieldcalc": -237700,
    "status1": "Completed",
    "durationtimelogtotalcalc": 34.00000000000001,
    "status2": null,
    "percenttmslidingcalc": null,
    "syslockchildren": 1,
    "afetotalcalc": null,
    "costpertldurnormcalc": 6991.176470588234,
    "tdtomudcalc": null,
    "costfinalactual": null,
    "afeperdurmlcalc": null,
    "syscreateuser": "trankt",
    "objectivegeo": null,
    "rateactualwater": null,
    "depthperdurplanmlcalc": null,
    "costnormperdepthplanmlcalc": null,
    "ratetargetwater": null,
    "syslockmeui": null,
    "ropspudtimelogcalc": null,
    "roprotatingcalc": null,
    "responsiblegrp3": null,
    "syslockme": 1,
    "userboolean2": null,
    "mudtypcalc": null,
    "usernum1": null,
    "costnormforecastcalc": null,
    "costnormtotalcalc": 237700,
    "targetdepthtvdcalc": null,
    "idrectub": null,
    "costnormperdepthcalc": null,
    "estproblemcostnormcalc": null,
    "durationspudtoplanmaxcalc": null,
    "idreclastrigcalctk": "wvjobrig",
    "durationmintotalcalc": 0,
    "sysmoduser": "oskinax",
    "objective": null,
    "wvtyp": "Intervention",
    "jobsupplycostnormcalc": 0,
    "targetform": null,
    "costperdepthcalc": null,
    "idrecwellborecalc": "D3AA8D409E77416687896F9B43BFC9EA",
    "rateactualoil": null,
    "afesupamtnormcalc": null,
    "costtechlimittotalcalc": 0,
    "totaldepthtvdcalc": null,
    "durmltotalnoplanchangecalc": null,
    "chartofaccounts": null
  }
]