[{
	"district": "US Onshore",
	"afetotalcalc": 780000.0,
	"costtotalcalc": 917703.7,
	"idrec": "24493D34328E4701A53854A4B32B7CFE",
	"dttmstart": 1544058000000,
	"depthbtm": 5056.6320000000005,
	"idwell": "03BB658BCDBE48538F26131C9CBC942C",
	"wellname": "Kone 83H",
	"rigno": "Non-Rig Work",
	"wvtyp": "Intervention",
	"PlanNextRptOps": "Art Lift RU New Unit",
	"fieldname": "Catarina",
	"usernum6": 100.0,
	"currencycode": null,
	"finalinvoicetotalcalc": 724070.48,
	"usertxt2": null,
	"usertxt1": "RIH/POOH Pump and Rods",
	"operated": 0,
	"dttmspud": 1518337800000,
	"summaryops": "Compl RIH w/Rods, HandOvr to Production",
	"afesupamtcalc": 490000.0,
	"des": "Production",
	"dttmend": 1544097600000
}, {
	"district": "US Onshore",
	"afetotalcalc": null,
	"costtotalcalc": 1425.0,
	"idrec": "7718031C34EC43789B81E805CF656915",
	"dttmstart": 1544063400000,
	"depthbtm": 4964.2776,
	"idwell": "0B6294884E3E4D43BEC147000A5FBB50",
	"wellname": "Carver Unit 5H",
	"rigno": "Non-Rig Work",
	"wvtyp": "Intervention",
	"PlanNextRptOps": "Completed",
	"fieldname": "West Tilden",
	"usernum6": 100.0,
	"currencycode": null,
	"finalinvoicetotalcalc": null,
	"usertxt2": null,
	"usertxt1": "Hot Water PM",
	"operated": 0,
	"dttmspud": 1372460400000,
	"summaryops": "PWR/PWOC",
	"afesupamtcalc": null,
	"des": "Production",
	"dttmend": 1544063400000
}]