[
  {
    "costtodatecalc": 53162,
    "durationtimelogcumspudcalc": 0.9999999990686774,
    "volmudactivevarcalc": 0,
    "condweather": null,
    "usertxt4": null,
    "durationpersonnelotcalc": null,
    "costprojectedmlphasecalc": 53162,
    "h2smax": null,
    "durationproblemtimecalc": 0,
    "costmudaddtodatenormcalc": 3635,
    "statusend": "Cutting Core #1 at 612m",
    "safetyincnocalc": null,
    "durnoprobtimecumdayscalc": 0.9999999990686774,
    "idrecjobprogramphasecalctk": "wvjobprogramphase",
    "durationpersonnelregcalc": 8.5,
    "idrecnextcastk": null,
    "volmudactivecalc": 0,
    "usertxt2": null,
    "syscreatedate": 1373959195000,
    "depthtvdenddpcalc": -54.21629606449936,
    "volmudaddedlossvarcalc": 0,
    "costjobsupplyamttodtncalc": null,
    "durationtimelogtotcumcalc": 0.9999999990686774,
    "usertxt5": null,
    "userboolean1": null,
    "tmtripcalc": null,
    "costtotalcalc": 53162,
    "costpertldurcalc": 53162.00004951097,
    "weightmetalrecovtotalcalc": null,
    "volcastoptorisertopcalc": null,
    "ropslidingcalc": null,
    "dttmstart": 1329849000000,
    "usernum3": null,
    "tmslidingcalc": 0.5625000074505806,
    "safetyincnocumcalc": null,
    "condlease": null,
    "durationsincerptinc": null,
    "usernum2": null,
    "reportnocalc": 1,
    "depthrotatingcalc": null,
    "volholecalc": 0,
    "idreclastcascalctk": null,
    "costtotalnormcalc": 53162,
    "tmtripcumcalc": null,
    "tmrotatingcalc": null,
    "bitrevscalc": null,
    "durationpersonneltotcalc": 8.5,
    "depthnetprogressdpcalc": null,
    "idwell": "03C5FB9FB4354766B5FB420A00D4D95E",
    "syslockdate": 1373959195000,
    "costmudaddtodatecalc": 3635,
    "plannextrptops": "Continue to Wiper trip, Circulate, Core Bluesky",
    "depthslidingcalc": null,
    "dttmprojendmlphasecalc": null,
    "hazardidnorptcalc": null,
    "idreclastrigcalc": "B55AED8B76654B0986F655F49C4EB466",
    "durationnoprobtimecalc": 0.9999999990686774,
    "pctproblemtimecalc": 0,
    "gasdrillavg": null,
    "gasbackgroundmax": null,
    "volmudaddedcalc": 0,
    "timelogcode2calc": null,
    "systag": "pceOpenWellsImport",
    "volmudaddedcumcalc": 0,
    "ratiodurprojmlplancalc": null,
    "costjobsupplyamttodatecalc": null,
    "sysmoddate": 1373959196000,
    "volbittoshoecalc": null,
    "volmudaddedlossvarcumcalc": 0,
    "costtodatenormcalc": 53162,
    "durpersonneltotcumcalc": 8.5,
    "usernum4": null,
    "ropcalc": 2787.984717846119,
    "costprojectedmljobcalc": 53162,
    "depthtvdendprojmethod": null,
    "usertxt3": null,
    "tmothercumcalc": null,
    "costmudaddnormcalc": 3635,
    "depthenddpnullcalc": -54.13385772705078,
    "costperdepthvarcalc": null,
    "condhole": null,
    "tmothercalc": null,
    "idreclastcascalc": null,
    "rigtimecumcalc": null,
    "depthperdurvarcalc": null,
    "durpersonnelregcumcalc": 8.5,
    "idrec": "1C5688D313304E698737C77074FBFEAA",
    "durproblemtimecumdayscalc": 0,
    "daysfromspudcalc": 20.145833333333332,
    "usernum5": null,
    "tmcirccalc": null,
    "contactcalc": "Drilling Super, Don Sorkilmo, ; Engineer, Drew Potter, ; Supervisor, Kevin Searcy, ",
    "dttmprojendmljobcalc": null,
    "costjobsupplyamtnormcalc": null,
    "percentcompletemlphasecalc": null,
    "idrecwellborecalctk": "wvwellbore",
    "usertxt1": null,
    "timelogcode3calc": "MNR - 0.25, DRR - 3.50, DVM - 3.00, DRR - 0.25, SAF - 0.25, BPT - 2.00, DRR - 0.25, DVM - 4.25, MNR - 0.25, DRR - 2.50, DVM - 0.25, PCD - 0.50, CWT - 1.50, SAF - 0.25, CWT - 3.25, PCD - 1.00, DRT - 0.75",
    "rigscalc": "AKITA AKITA 2",
    "dttmend": 1329935400000,
    "timeaheadmlphasecalc": null,
    "timelogcode1calc": "D09 - 0.25, D09 - 3.50, D09 - 3.00, D09 - 0.25, D09 - 0.25, D09 - 2.00, D09 - 0.25, D09 - 4.25, D09 - 0.25, D09 - 2.50, D09 - 0.25, D09 - 0.50, D09 - 1.50, D09 - 0.25, D09 - 3.25, D09 - 1.00, D09 - 0.75",
    "volmudtankcalc": 0,
    "headcountcalc": 17,
    "depthprogressdpcalc": null,
    "condtemp": null,
    "depthenddpcalc": -54.13385772705078,
    "volpumptobitcalc": null,
    "rpttmactops": null,
    "timeaheadmljobcalc": null,
    "tmcirccumcalc": null,
    "gasdrillmax": null,
    "timelogcode4calc": null,
    "durprojectedmlphasecalc": null,
    "idrecnextcas": null,
    "syslockchildrenui": null,
    "percenttmrotatingcalc": 0,
    "durpersonnelotcumcalc": 0,
    "idrecparent": "1E883B80F3054AACB2F50BE9907C5736",
    "safetyincreportratecalc": null,
    "costjobsupplyamtcalc": null,
    "depthstartdpnullcalc": -1533.7926025390625,
    "safetyincreportnocalc": null,
    "costperdepthnormcalc": null,
    "summaryops": "Cutting Core #1 at 612m",
    "reportdaycalc": 79,
    "tmdrillcalc": 0.5625000074505806,
    "costmudaddcalc": 3635,
    "rigdayscalc": 78.42222222222222,
    "lastmuddensitycalc": 9.597214698791504,
    "durationtimelogtotalcalc": 0.9999999990686774,
    "daysfromspudtorrcalc": 20.145833333333332,
    "durationsinceltinc": null,
    "volholevarcalc": 0,
    "volmudlosscalc": 0,
    "percenttmslidingcalc": 1,
    "depthtvdstartdpcalc": -1533.8163255917904,
    "gastripmax": null,
    "syslockchildren": null,
    "costperdepthcumcalc": -982.0471370809928,
    "costpertldurnormcalc": 53162.00004951097,
    "rigtime": null,
    "hazardidnorptcumcalc": null,
    "volshoetocastopcalc": null,
    "syscreateuser": "pceOpenWellsImport",
    "gasconnectionmax": null,
    "percentcompletemljobcalc": null,
    "depthenddpcumcalc": -54.13385772705078,
    "syslockmeui": null,
    "depthstartdpcalc": -1533.7926025390625,
    "roprotatingcalc": null,
    "syslockme": null,
    "condwind": null,
    "idrecjobprogramphasecalc": "06B909B71BC045119F058290D5352914",
    "userboolean2": null,
    "gastripavg": null,
    "safetyincratecalc": null,
    "usernum1": null,
    "gasbackgroundavg": null,
    "volmudbalancecalc": 0,
    "remarks": "Grd Elevation at pin = 648.4m \r\nKB-GRD =4.1m\r\nKB Elv = 652.5m\r\nKB- csg bowl = 3.30m \r\nSpud notification #642756 \r\nCB Ser # 2133176",
    "idreclastrigcalctk": "wvjobrig",
    "volmudlosscumcalc": 0,
    "sysmoduser": "pceOpenWellsImport",
    "depthperdurcalc": -54.133857777466865,
    "costperdepthcalc": null,
    "durationnoprobtimecumcalc": 0.9999999990686774,
    "durationproblemtimecumcalc": 0,
    "tmdrillcumcalc": 0.5625000074505806,
    "idrecwellborecalc": "1F8B4C2D6C00478E97BBC7AD231D95FB",
    "condwave": null,
    "condroad": null,
    "durprojectedmljobcalc": null,
    "safetyincreportnocumcalc": null,
    "gasconnectionavg": null,
    "rigdayscumcalc": 78.42222222222222,
    "pctproblemtimecumcalc": 0
  },
  {
    "costtodatecalc": 139842.56,
    "durationtimelogcumspudcalc": 1.9999999953433871,
    "volmudactivevarcalc": 0,
    "condweather": null,
    "usertxt4": null,
    "durationpersonnelotcalc": null,
    "costprojectedmlphasecalc": 86680.56000000001,
    "h2smax": null,
    "durationproblemtimecalc": 0,
    "costmudaddtodatenormcalc": 39074,
    "statusend": "Finish logging and rig out loggers. Run in hole op",
    "safetyincnocalc": null,
    "durnoprobtimecumdayscalc": 1.9999999953433871,
    "idrecjobprogramphasecalctk": "wvjobprogramphase",
    "durationpersonnelregcalc": 11,
    "idrecnextcastk": null,
    "volmudactivecalc": 0,
    "usertxt2": null,
    "syscreatedate": 1373959195000,
    "depthtvdenddpcalc": 332.914306640625,
    "volmudaddedlossvarcalc": 0,
    "costjobsupplyamttodtncalc": null,
    "durationtimelogtotcumcalc": 1.9999999953433871,
    "usertxt5": null,
    "userboolean1": null,
    "tmtripcalc": null,
    "costtotalcalc": 86680.56000000001,
    "costpertldurcalc": 86680.56032291025,
    "weightmetalrecovtotalcalc": null,
    "volcastoptorisertopcalc": null,
    "ropslidingcalc": 892.388671875,
    "dttmstart": 1330281000000,
    "usernum3": null,
    "tmslidingcalc": 0.0625,
    "safetyincnocumcalc": null,
    "condlease": null,
    "durationsincerptinc": null,
    "usernum2": null,
    "reportnocalc": 2,
    "depthrotatingcalc": null,
    "volholecalc": 0,
    "idreclastcascalctk": null,
    "costtotalnormcalc": 86680.56000000001,
    "tmtripcumcalc": null,
    "tmrotatingcalc": null,
    "bitrevscalc": null,
    "durationpersonneltotcalc": 11,
    "depthnetprogressdpcalc": 55.7742919921875,
    "idwell": "03C5FB9FB4354766B5FB420A00D4D95E",
    "syslockdate": 1373959195000,
    "costmudaddtodatecalc": 39074,
    "plannextrptops": "Finish pumping abandonment plugs. Rig out cementers, flush BOP stack. Rig down for rig move.",
    "depthslidingcalc": 55.7742919921875,
    "dttmprojendmlphasecalc": null,
    "hazardidnorptcalc": null,
    "idreclastrigcalc": "B55AED8B76654B0986F655F49C4EB466",
    "durationnoprobtimecalc": 0.9999999962747097,
    "pctproblemtimecalc": 0,
    "gasdrillavg": null,
    "gasbackgroundmax": null,
    "volmudaddedcalc": 0,
    "timelogcode2calc": null,
    "systag": "pceOpenWellsImport",
    "volmudaddedcumcalc": 0,
    "ratiodurprojmlplancalc": null,
    "costjobsupplyamttodatecalc": null,
    "sysmoddate": 1373959196000,
    "volbittoshoecalc": null,
    "volmudaddedlossvarcumcalc": 0,
    "costtodatenormcalc": 139842.56,
    "durpersonneltotcumcalc": 19.5,
    "usernum4": null,
    "ropcalc": 892.388671875,
    "costprojectedmljobcalc": 184085.7625,
    "depthtvdendprojmethod": null,
    "usertxt3": null,
    "tmothercumcalc": null,
    "costmudaddnormcalc": 35439,
    "depthenddpnullcalc": 333.0052490234375,
    "costperdepthvarcalc": null,
    "condhole": null,
    "tmothercalc": null,
    "idreclastcascalc": null,
    "rigtimecumcalc": null,
    "depthperdurvarcalc": null,
    "durpersonnelregcumcalc": 19.5,
    "idrec": "2D8B88495175466FB224F242843ECF80",
    "durproblemtimecumdayscalc": 0,
    "daysfromspudcalc": 25.145833333333332,
    "usernum5": null,
    "tmcirccalc": null,
    "contactcalc": "Drilling Super, Don Sorkilmo, ; Supervisor, Larry Hofer / Shaan Naqvi, ; Engineer, Saad Khan/Drew Potter, ",
    "dttmprojendmljobcalc": null,
    "costjobsupplyamtnormcalc": null,
    "percentcompletemlphasecalc": null,
    "idrecwellborecalctk": "wvwellbore",
    "usertxt1": null,
    "timelogcode3calc": "DRR - 1.50, WCL - 6.50, BPT - 0.25, DRT - 3.75, BPT - 0.25, ELO - 0.25, ELO - 6.25, ELO - 0.25, ELO - 5.00",
    "rigscalc": "AKITA AKITA 2",
    "dttmend": 1330367400000,
    "timeaheadmlphasecalc": null,
    "timelogcode1calc": "D09 - 1.50, D09 - 6.50, D09 - 0.25, D09 - 3.75, D09 - 0.25, E09 - 0.25, E09 - 6.25, E09 - 0.25, E09 - 5.00",
    "volmudtankcalc": 0,
    "headcountcalc": 22,
    "depthprogressdpcalc": 55.7742919921875,
    "condtemp": null,
    "depthenddpcalc": 333.0052490234375,
    "volpumptobitcalc": null,
    "rpttmactops": null,
    "timeaheadmljobcalc": null,
    "tmcirccumcalc": null,
    "gasdrillmax": null,
    "timelogcode4calc": "SAF - 0.25, ELE - 6.25, SAF - 0.25, ELE - 5.00",
    "durprojectedmlphasecalc": null,
    "idrecnextcas": null,
    "syslockchildrenui": null,
    "percenttmrotatingcalc": 0,
    "durpersonnelotcumcalc": 0,
    "idrecparent": "1E883B80F3054AACB2F50BE9907C5736",
    "safetyincreportratecalc": null,
    "costjobsupplyamtcalc": null,
    "depthstartdpnullcalc": 277.23095703125,
    "safetyincreportnocalc": null,
    "costperdepthnormcalc": 1554.1310683449223,
    "summaryops": "Finish logging and rig out loggers. Run in hole open ended. Rig up for cement job and pump abandonment plugs.",
    "reportdaycalc": 84,
    "tmdrillcalc": 0.0625,
    "costmudaddcalc": 35439,
    "rigdayscalc": 83.42222222222222,
    "lastmuddensitycalc": 9.513760566711425,
    "durationtimelogtotalcalc": 0.9999999962747097,
    "daysfromspudtorrcalc": 25.145833333333332,
    "durationsinceltinc": null,
    "volholevarcalc": 0,
    "volmudlosscalc": 0,
    "percenttmslidingcalc": 1,
    "depthtvdstartdpcalc": 277.14123088916795,
    "gastripmax": null,
    "syslockchildren": null,
    "costperdepthcumcalc": 501.45896769803187,
    "costpertldurnormcalc": 86680.56032291025,
    "rigtime": null,
    "hazardidnorptcumcalc": null,
    "volshoetocastopcalc": null,
    "syscreateuser": "pceOpenWellsImport",
    "gasconnectionmax": null,
    "percentcompletemljobcalc": null,
    "depthenddpcumcalc": 278.8713912963867,
    "syslockmeui": null,
    "depthstartdpcalc": 277.23095703125,
    "roprotatingcalc": null,
    "syslockme": null,
    "condwind": null,
    "idrecjobprogramphasecalc": "8727B02C2E554CAFA5FBF507FBBF7160",
    "userboolean2": null,
    "gastripavg": null,
    "safetyincratecalc": null,
    "usernum1": null,
    "gasbackgroundavg": null,
    "volmudbalancecalc": 0,
    "remarks": "Grd Elevation at pin = 648.4m \r\nKB-GRD =4.1m\r\nKB Elv = 652.5m\r\nKB- csg bowl = 3.30m \r\nSpud notification #642756 \r\nCB Ser # 2133176",
    "idreclastrigcalctk": "wvjobrig",
    "volmudlosscumcalc": 0,
    "sysmoduser": "pceOpenWellsImport",
    "depthperdurcalc": 333.0052502639787,
    "costperdepthcalc": 1554.1310683449223,
    "durationnoprobtimecumcalc": 1.9999999953433871,
    "durationproblemtimecumcalc": 0,
    "tmdrillcumcalc": 0.6250000074505806,
    "idrecwellborecalc": "1F8B4C2D6C00478E97BBC7AD231D95FB",
    "condwave": null,
    "condroad": null,
    "durprojectedmljobcalc": null,
    "safetyincreportnocumcalc": null,
    "gasconnectionavg": null,
    "rigdayscumcalc": 83.42222222222222,
    "pctproblemtimecumcalc": 0
  },
  {
    "costtodatecalc": 262971.56,
    "durationtimelogcumspudcalc": 1.9999999953433871,
    "volmudactivevarcalc": 0,
    "condweather": null,
    "usertxt4": null,
    "durationpersonnelotcalc": null,
    "costprojectedmlphasecalc": null,
    "h2smax": null,
    "durationproblemtimecalc": 0,
    "costmudaddtodatenormcalc": 39074,
    "statusend": "Wait on daylight to move rig 08:00 am safety meeti",
    "safetyincnocalc": null,
    "durnoprobtimecumdayscalc": 1.9999999953433871,
    "idrecjobprogramphasecalctk": null,
    "durationpersonnelregcalc": null,
    "idrecnextcastk": null,
    "volmudactivecalc": 0,
    "usertxt2": null,
    "syscreatedate": 1373959195000,
    "depthtvdenddpcalc": 332.914306640625,
    "volmudaddedlossvarcalc": 0,
    "costjobsupplyamttodtncalc": null,
    "durationtimelogtotcumcalc": 1.9999999953433871,
    "usertxt5": null,
    "userboolean1": null,
    "tmtripcalc": null,
    "costtotalcalc": 123129,
    "costpertldurcalc": null,
    "weightmetalrecovtotalcalc": null,
    "volcastoptorisertopcalc": null,
    "ropslidingcalc": null,
    "dttmstart": 1330367400000,
    "usernum3": null,
    "tmslidingcalc": null,
    "safetyincnocumcalc": null,
    "condlease": null,
    "durationsincerptinc": null,
    "usernum2": null,
    "reportnocalc": 3,
    "depthrotatingcalc": null,
    "volholecalc": 0,
    "idreclastcascalctk": null,
    "costtotalnormcalc": 123129,
    "tmtripcumcalc": null,
    "tmrotatingcalc": null,
    "bitrevscalc": null,
    "durationpersonneltotcalc": null,
    "depthnetprogressdpcalc": 0,
    "idwell": "03C5FB9FB4354766B5FB420A00D4D95E",
    "syslockdate": 1373959195000,
    "costmudaddtodatecalc": 39074,
    "plannextrptops": "RIG RELEASED 24:00 HRS FEB 28 2012 / END OF WELL 24:00 HRS FEB 28 2012",
    "depthslidingcalc": null,
    "dttmprojendmlphasecalc": null,
    "hazardidnorptcalc": null,
    "idreclastrigcalc": "B55AED8B76654B0986F655F49C4EB466",
    "durationnoprobtimecalc": null,
    "pctproblemtimecalc": 0,
    "gasdrillavg": null,
    "gasbackgroundmax": null,
    "volmudaddedcalc": 0,
    "timelogcode2calc": null,
    "systag": "pceOpenWellsImport",
    "volmudaddedcumcalc": 0,
    "ratiodurprojmlplancalc": null,
    "costjobsupplyamttodatecalc": null,
    "sysmoddate": 1373959196000,
    "volbittoshoecalc": null,
    "volmudaddedlossvarcumcalc": 0,
    "costtodatenormcalc": 262971.56,
    "durpersonneltotcumcalc": 19.5,
    "usernum4": null,
    "ropcalc": null,
    "costprojectedmljobcalc": null,
    "depthtvdendprojmethod": null,
    "usertxt3": null,
    "tmothercumcalc": null,
    "costmudaddnormcalc": null,
    "depthenddpnullcalc": 333.0052490234375,
    "costperdepthvarcalc": null,
    "condhole": null,
    "tmothercalc": null,
    "idreclastcascalc": null,
    "rigtimecumcalc": null,
    "depthperdurvarcalc": null,
    "durpersonnelregcumcalc": 19.5,
    "idrec": "D23864EACFF946F3B89F2F3EAE7978C6",
    "durproblemtimecumdayscalc": 0,
    "daysfromspudcalc": 26.145833333333332,
    "usernum5": null,
    "tmcirccalc": null,
    "contactcalc": null,
    "dttmprojendmljobcalc": null,
    "costjobsupplyamtnormcalc": null,
    "percentcompletemlphasecalc": null,
    "idrecwellborecalctk": "wvwellbore",
    "usertxt1": null,
    "timelogcode3calc": null,
    "rigscalc": "AKITA AKITA 2",
    "dttmend": 1330453800000,
    "timeaheadmlphasecalc": null,
    "timelogcode1calc": null,
    "volmudtankcalc": 0,
    "headcountcalc": null,
    "depthprogressdpcalc": 0,
    "condtemp": null,
    "depthenddpcalc": 333.0052490234375,
    "volpumptobitcalc": null,
    "rpttmactops": null,
    "timeaheadmljobcalc": null,
    "tmcirccumcalc": null,
    "gasdrillmax": null,
    "timelogcode4calc": null,
    "durprojectedmlphasecalc": null,
    "idrecnextcas": null,
    "syslockchildrenui": null,
    "percenttmrotatingcalc": null,
    "durpersonnelotcumcalc": 0,
    "idrecparent": "1E883B80F3054AACB2F50BE9907C5736",
    "safetyincreportratecalc": null,
    "costjobsupplyamtcalc": null,
    "depthstartdpnullcalc": 333.0052490234375,
    "safetyincreportnocalc": null,
    "costperdepthnormcalc": null,
    "summaryops": "Wait on daylight to move rig 08:00 am safety meeting with mullen",
    "reportdaycalc": 85,
    "tmdrillcalc": null,
    "costmudaddcalc": null,
    "rigdayscalc": 84.42222222222222,
    "lastmuddensitycalc": 9.513760566711425,
    "durationtimelogtotalcalc": null,
    "daysfromspudtorrcalc": 26.145833333333332,
    "durationsinceltinc": null,
    "volholevarcalc": 0,
    "volmudlosscalc": 0,
    "percenttmslidingcalc": null,
    "depthtvdstartdpcalc": 332.914306640625,
    "gastripmax": null,
    "syslockchildren": null,
    "costperdepthcumcalc": 429.77872118560753,
    "costpertldurnormcalc": null,
    "rigtime": null,
    "hazardidnorptcumcalc": null,
    "volshoetocastopcalc": null,
    "syscreateuser": "pceOpenWellsImport",
    "gasconnectionmax": null,
    "percentcompletemljobcalc": null,
    "depthenddpcumcalc": 611.8766403198242,
    "syslockmeui": null,
    "depthstartdpcalc": 333.0052490234375,
    "roprotatingcalc": null,
    "syslockme": null,
    "condwind": null,
    "idrecjobprogramphasecalc": null,
    "userboolean2": null,
    "gastripavg": null,
    "safetyincratecalc": null,
    "usernum1": null,
    "gasbackgroundavg": null,
    "volmudbalancecalc": 0,
    "remarks": "Grd Elevation at pin = 648.4m \r\nKB-GRD =4.1m\r\nKB Elv = 652.5m\r\nKB- csg bowl = 3.30m \r\nSpud notification #642756 \r\nCB Ser # 2133176",
    "idreclastrigcalctk": "wvjobrig",
    "volmudlosscumcalc": 0,
    "sysmoduser": "pceOpenWellsImport",
    "depthperdurcalc": null,
    "costperdepthcalc": null,
    "durationnoprobtimecumcalc": 1.9999999953433871,
    "durationproblemtimecumcalc": 0,
    "tmdrillcumcalc": 0.6250000074505806,
    "idrecwellborecalc": "1F8B4C2D6C00478E97BBC7AD231D95FB",
    "condwave": null,
    "condroad": null,
    "durprojectedmljobcalc": null,
    "safetyincreportnocumcalc": null,
    "gasconnectionavg": null,
    "rigdayscumcalc": 84.42222222222222,
    "pctproblemtimecumcalc": 0
  }
]