[
  {
    "district": "Canada",
    "afetotalcalc": 5065000,
    "costtotalcalc": 1624478.5,
    "idrec": "C94366DFD8E3440A950DA9CE74CFFFBA",
    "dttmstart": 1525717800000,
    "idwell": "0960B529EE7E4AFA94B5A768418B9A28",
    "wellname": "MURPHY 11-14A KAYBOBS 01-11-62-20",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Kaybob South",
    "currencycode": "CAD",
    "usertxt1": "Frac Operations",
    "summaryops": "Frac and perforating operations. Currently monitoring pressures for offset frac. Frac #7  of 23 completed.",
    "dttmend": 1525804200000
  },
  {
    "district": "Canada",
    "afetotalcalc": 5065000,
    "costtotalcalc": 1624478.5,
    "idrec": "C94366DFD8E3440A950DA9CE74CFFFBA",
    "dttmstart": 1525804200000,
    "idwell": "0960B529EE7E4AFA94B5A768418B9A28",
    "wellname": "MURPHY 11-14A KAYBOBS 01-11-62-20",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Kaybob South",
    "currencycode": "CAD",
    "usertxt1": "Frac Operations",
    "summaryops": "Frac and perforating operations. Currently monitoring pressures for offset frac. Frac #7  of 23 completed.",
    "dttmend": 1525890600000
  },
  {
    "district": "Canada",
    "afetotalcalc": 5065000,
    "costtotalcalc": 1997731,
    "idrec": "30C2601851C54241A0177A857279E430",
    "dttmstart": 1525717800000,
    "idwell": "E0E27610D8F04CE4ABD10B29CD30D4F4",
    "wellname": "MURPHY 11-14B 102 KAYBOBS 02-11-62-20",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Kaybob South",
    "currencycode": "CAD",
    "usertxt1": "Frac Operations",
    "summaryops": "Frac Interval # 6 of 23.  Perf Interval # 6, 7  of 23.  Monitor SICP via real time surface recorders fro REAL Frac data.",
    "dttmend": 1525804200000
  },
  {
    "district": "Canada",
    "afetotalcalc": 5065000,
    "costtotalcalc": 1997731,
    "idrec": "30C2601851C54241A0177A857279E430",
    "dttmstart": 1525804200000,
    "idwell": "E0E27610D8F04CE4ABD10B29CD30D4F4",
    "wellname": "MURPHY 11-14B 102 KAYBOBS 02-11-62-20",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Kaybob South",
    "currencycode": "CAD",
    "usertxt1": "Frac Operations",
    "summaryops": "Frac Interval # 7, 8, 9 of 23.  Perf Interval # 8, 9 of 23.  Monitor SICP via real time surface recorders fro REAL Frac data.",
    "dttmend": 1525890600000
  },
  {
    "district": "Canada",
    "afetotalcalc": 5065000,
    "costtotalcalc": 2286268,
    "idrec": "D4D6A5E32ECA4539890CB6704D9B4493",
    "dttmstart": 1525717800000,
    "idwell": "E63A9D45A5514EE38F005024D1D01C2D",
    "wellname": "MURPHY 11-14C 103 KAYBOBS 02-11-62-20",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Kaybob South",
    "currencycode": "CAD",
    "usertxt1": "Frac Operations",
    "summaryops": "Continue to monitor pressures for REAL Frac Data Aquisition while working on adjacent wells.  Frac # 22  of 39 completed.",
    "dttmend": 1525804200000
  },
  {
    "district": "Canada",
    "afetotalcalc": 5065000,
    "costtotalcalc": 2286268,
    "idrec": "D4D6A5E32ECA4539890CB6704D9B4493",
    "dttmstart": 1525804200000,
    "idwell": "E63A9D45A5514EE38F005024D1D01C2D",
    "wellname": "MURPHY 11-14C 103 KAYBOBS 02-11-62-20",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Kaybob South",
    "currencycode": "CAD",
    "usertxt1": "Frac Operations",
    "summaryops": "Continue to monitor pressures for REAL Frac Data Aquisition while working on adjacent wells.  Frac # 22  of 39 completed.",
    "dttmend": 1525890600000
  },
  {
    "district": "Canada",
    "afetotalcalc": 5605000,
    "costtotalcalc": 2326530,
    "idrec": "2916A745944A457AA5D0FE46BA461ACB",
    "dttmstart": 1525717800000,
    "idwell": "8DF82DC1AD1C402E9271C39C27EC0ABD",
    "wellname": "MURPHY 11-14D KAYBOBS 03-11-62-20",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Kaybob South",
    "currencycode": "CAD",
    "usertxt1": "Frac Operations",
    "summaryops": "Plug/Perf Interval # 17, 18, 19, 20,  of 39.  Frac Interval # 16, 17, 18, 19  of 39.   Monitor SICP via real time surface recorders.  ",
    "dttmend": 1525804200000
  },
  {
    "district": "Canada",
    "afetotalcalc": 5605000,
    "costtotalcalc": 2326530,
    "idrec": "2916A745944A457AA5D0FE46BA461ACB",
    "dttmstart": 1525804200000,
    "idwell": "8DF82DC1AD1C402E9271C39C27EC0ABD",
    "wellname": "MURPHY 11-14D KAYBOBS 03-11-62-20",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Kaybob South",
    "currencycode": "CAD",
    "usertxt1": "Frac Operations",
    "summaryops": "Plug/Perf Interval # 21,  of 39.  Frac Interval # 20,  of 39.   Monitor SICP via real time surface recorders.  40 Arm Caliper Casing Inspection.",
    "dttmend": 1525890600000
  },
  {
    "district": "Canada",
    "afetotalcalc": 5605000,
    "costtotalcalc": 3082368,
    "idrec": "AEAAA336AB5B4AD3B2C575F9EA48F28B",
    "dttmstart": 1525717800000,
    "idwell": "F4BFED1862C74E66BE7C239E7D965B0D",
    "wellname": "MURPHY 11-14E 103 KAYBOBS 04-11-62-20",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Kaybob South",
    "currencycode": "CAD",
    "usertxt1": "Frac Operations",
    "summaryops": "Frac Interval # 25, 26, 27 of 39.  Plug/Perf # 26, 27, 28,  of 39. ",
    "dttmend": 1525804200000
  },
  {
    "district": "Canada",
    "afetotalcalc": 5605000,
    "costtotalcalc": 3082368,
    "idrec": "AEAAA336AB5B4AD3B2C575F9EA48F28B",
    "dttmstart": 1525804200000,
    "idwell": "F4BFED1862C74E66BE7C239E7D965B0D",
    "wellname": "MURPHY 11-14E 103 KAYBOBS 04-11-62-20",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Kaybob South",
    "currencycode": "CAD",
    "usertxt1": "Frac Operations",
    "summaryops": "Frac Interval # 28, 29,30,  of 39.  Plug/Perf # 28, 29, 30,  of 39. ",
    "dttmend": 1525890600000
  },
  {
    "district": "Canada",
    "afetotalcalc": 3613300,
    "costtotalcalc": 2905869.7200000007,
    "idrec": "0CEBB245D2FF40F585DC11BBA9382951",
    "dttmstart": 1525717800000,
    "idwell": "E1474530D4A740BD9C1CB1F7EDDF6F39",
    "wellname": "MURPHY HZ SUNDOWN E14-01-78-17",
    "rigno": "Essential Coil & Stimulation Services-CA",
    "wvtyp": "Completion",
    "fieldname": "Sundown",
    "currencycode": "CAD",
    "usertxt1": "Flow Back Well",
    "summaryops": "Flow and evaluate 15 Montney Stages to testers for clean up.",
    "dttmend": 1525804200000
  },
  {
    "district": "Canada",
    "afetotalcalc": 3613300,
    "costtotalcalc": 2905869.7200000007,
    "idrec": "0CEBB245D2FF40F585DC11BBA9382951",
    "dttmstart": 1525804200000,
    "idwell": "E1474530D4A740BD9C1CB1F7EDDF6F39",
    "wellname": "MURPHY HZ SUNDOWN E14-01-78-17",
    "rigno": "Essential Coil & Stimulation Services-CA",
    "wvtyp": "Completion",
    "fieldname": "Sundown",
    "currencycode": "CAD",
    "usertxt1": "Standby",
    "summaryops": "Stand by for snubbing operations to run production tubing.",
    "dttmend": 1525890600000
  },
  {
    "district": "Canada",
    "afetotalcalc": 3634000,
    "costtotalcalc": 2937117.32,
    "idrec": "25C3DF0365154949A2D994C1DB4757F9",
    "dttmstart": 1525717800000,
    "idwell": "9C62A121A1724638A6ADFD9A9A92C810",
    "wellname": "MURPHY HZ SUNDOWN F14-01-78-17",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Sundown",
    "currencycode": "CAD",
    "usertxt1": "Flow Back Well",
    "summaryops": "Flow well to P tank for clean up and evaluation. Ship all hydrocarbons inline to the Tupper West gas plant.",
    "dttmend": 1525804200000
  },
  {
    "district": "Canada",
    "afetotalcalc": 3634000,
    "costtotalcalc": 2937117.32,
    "idrec": "25C3DF0365154949A2D994C1DB4757F9",
    "dttmstart": 1525804200000,
    "idwell": "9C62A121A1724638A6ADFD9A9A92C810",
    "wellname": "MURPHY HZ SUNDOWN F14-01-78-17",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Sundown",
    "currencycode": "CAD",
    "usertxt1": "Flow Back Well",
    "summaryops": "Flow well to P tank for clean up and evaluation. Ship all hydrocarbons inline to the Tupper West gas plant.",
    "dttmend": 1525890600000
  },
  {
    "district": "Canada",
    "afetotalcalc": 3743000,
    "costtotalcalc": 3195149.32,
    "idrec": "B890B7B697DD40928EF73595F5D35D31",
    "dttmstart": 1525717800000,
    "idwell": "13FB417E770144BFBB294284F3C7FC51",
    "wellname": "MURPHY HZ SUNDOWN G14-01-78-17 ",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Sundown",
    "currencycode": "CAD",
    "usertxt1": "Flow Back Well",
    "summaryops": "Flow back well for clean up and evaluation.  Ship all hydrocarbons inline to the Tupper West gas plant.",
    "dttmend": 1525804200000
  },
  {
    "district": "Canada",
    "afetotalcalc": 3743000,
    "costtotalcalc": 3195149.32,
    "idrec": "B890B7B697DD40928EF73595F5D35D31",
    "dttmstart": 1525804200000,
    "idwell": "13FB417E770144BFBB294284F3C7FC51",
    "wellname": "MURPHY HZ SUNDOWN G14-01-78-17 ",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Sundown",
    "currencycode": "CAD",
    "usertxt1": "Flow Back Well",
    "summaryops": "Flow back well for clean up and evaluation.  Ship all hydrocarbons inline to the Tupper West gas plant.",
    "dttmend": 1525890600000
  },
  {
    "district": "Canada",
    "afetotalcalc": 3793000,
    "costtotalcalc": 3038161.6600000006,
    "idrec": "A7DB08CA68D448E8850125100E35CB79",
    "dttmstart": 1525804200000,
    "idwell": "BEF70684956842279F80C75E4B9AF6C3",
    "wellname": "MURPHY HZ SUNDOWN H14-01-78-17",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Sundown",
    "currencycode": "CAD",
    "usertxt1": "Flow Back Well",
    "summaryops": "Flow back well for clean up.  Ship all hydrocarbon inline to the Tupper West plant.",
    "dttmend": 1525890600000
  },
  {
    "district": "Canada",
    "afetotalcalc": 3793000,
    "costtotalcalc": 3038161.6600000006,
    "idrec": "A7DB08CA68D448E8850125100E35CB79",
    "dttmstart": 1525717800000,
    "idwell": "BEF70684956842279F80C75E4B9AF6C3",
    "wellname": "MURPHY HZ SUNDOWN H14-01-78-17",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Sundown",
    "currencycode": "CAD",
    "usertxt1": "Standby",
    "summaryops": "Stand by for flow back and evaluation",
    "dttmend": 1525804200000
  },
  {
    "district": "Canada",
    "afetotalcalc": 3719000,
    "costtotalcalc": 2809571.020000001,
    "idrec": "60F8E80C4E2B4C3F8B0A8AC1C4A09BA1",
    "dttmstart": 1525717800000,
    "idwell": "52265AC4286642418E95FDA6AD3F466B",
    "wellname": "MURPHY HZ SUNDOWN I14-01-78-17",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Sundown",
    "currencycode": "CAD",
    "usertxt1": "Standby",
    "summaryops": "Stand by for snubbing operations",
    "dttmend": 1525804200000
  },
  {
    "district": "Canada",
    "afetotalcalc": 3719000,
    "costtotalcalc": 2809571.020000001,
    "idrec": "60F8E80C4E2B4C3F8B0A8AC1C4A09BA1",
    "dttmstart": 1525804200000,
    "idwell": "52265AC4286642418E95FDA6AD3F466B",
    "wellname": "MURPHY HZ SUNDOWN I14-01-78-17",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Sundown",
    "currencycode": "CAD",
    "usertxt1": "Standby",
    "summaryops": "Stand by for snubbing operations",
    "dttmend": 1525890600000
  },
  {
    "district": "Canada",
    "afetotalcalc": 1710361.2,
    "costtotalcalc": 491026.03,
    "idrec": "1F8EE3B981DE4E3685A484E74E7090E1",
    "dttmstart": 1525717800000,
    "idwell": "2FA521866F6E418BBDA02AA4696486D7",
    "wellname": "MURPHY KAYBOB 11-14-62-20 W5 Water Site",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Kaybob",
    "currencycode": "CAD",
    "usertxt1": "Frac Operations",
    "summaryops": "Maxx continued pumping water as directed and heater is maintaining hot tank at 30°",
    "dttmend": 1525804200000
  },
  {
    "district": "Canada",
    "afetotalcalc": 1710361.2,
    "costtotalcalc": 491026.03,
    "idrec": "1F8EE3B981DE4E3685A484E74E7090E1",
    "dttmstart": 1525804200000,
    "idwell": "2FA521866F6E418BBDA02AA4696486D7",
    "wellname": "MURPHY KAYBOB 11-14-62-20 W5 Water Site",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Kaybob",
    "currencycode": "CAD",
    "usertxt1": "Frac Operations",
    "summaryops": "Maxx continued pumping water as directed and heater is maintaining hot tank at 30°",
    "dttmend": 1525890600000
  },
  {
    "district": "Canada",
    "afetotalcalc": 2450000,
    "costtotalcalc": 1163256.2699999998,
    "idrec": "F517CAAA07434A6F93776482291AA972",
    "dttmstart": 1525717800000,
    "idwell": "87F9131AE4604293B9E6863DE525FEA4",
    "wellname": "MURPHY SUNDOWN 14-01-78-17  Water Site",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Sundown",
    "currencycode": "CAD",
    "usertxt1": null,
    "summaryops": null,
    "dttmend": 1525804200000
  },
  {
    "district": "Canada",
    "afetotalcalc": 2450000,
    "costtotalcalc": 1163256.2699999998,
    "idrec": "F517CAAA07434A6F93776482291AA972",
    "dttmstart": 1525804200000,
    "idwell": "87F9131AE4604293B9E6863DE525FEA4",
    "wellname": "MURPHY SUNDOWN 14-01-78-17  Water Site",
    "rigno": "Non-Rig Work",
    "wvtyp": "Completion",
    "fieldname": "Sundown",
    "currencycode": "CAD",
    "usertxt1": null,
    "summaryops": null,
    "dttmend": 1525890600000
  }
]