[
  {
    "volchokelinecalc": null,
    "szidchokeline": null,
    "lengthkillline": null,
    "waterdepthmax": null,
    "drawworkmodel": null,
    "hookloadmax": null,
    "idrec": "3C901E99B1114822A52C0A7A71D65A11",
    "contractor": "Helmerich & Payne Drilling",
    "setbackcapacity": null,
    "depthmax": null,
    "weightblock": null,
    "drawworkmake": null,
    "idrecjobcontactcontractor": "1F93BC5759924A4EAA150AEBFD056AD1",
    "syscreatedate": 1399542437667,
    "anchorno": null,
    "torquemax": null,
    "dttmend": null,
    "anchorlinetyp": null,
    "dttmstart": 1403407800000,
    "purpose": null,
    "typ2": null,
    "idrecparent": "CACCA949868A434DA0A45C5D9F7D8BD7",
    "syslockchildrenui": 0,
    "proposed": 0,
    "volsurfline": null,
    "syslockchildren": 0,
    "power": null,
    "anchortyp": null,
    "inventoryno": null,
    "idwell": "00457D9192E649ECB8486161E58D138F",
    "syscreateuser": "amoser",
    "volkilllinecalc": null,
    "syslockdate": 1399542437667,
    "rotarysystem": null,
    "szidkillline": null,
    "syslockmeui": 0,
    "lengthchokeline": null,
    "heightsubclear": null,
    "syslockme": 0,
    "typ1": "LA",
    "contractorparent": null,
    "rigrateref": null,
    "com": "713-948-1617/713-948-1618",
    "systag": null,
    "drawworktyp": null,
    "sysmoddate": 1403679042737,
    "refheight": null,
    "contracttyp": "Day Rate",
    "powertyp": null,
    "rigno": "H & P 496",
    "sysmoduser": "drill16",
    "derricktyp": null,
    "transportloads": null,
    "anchormaxtension": null,
    "postyp": null,
    "heightmastclearance": null,
    "idrecjobcontactcontractortk": "wvjobcontact",
    "maxvariableload": null,
    "slipjtextmax": null
  }
]