[
  {
    "userdttm4": 1412015400000,
    "dttmfirstprod": 1410924600000,
    "userboolean5": 0,
    "kbtocascalc": null,
    "slot": null,
    "welltyp2": null,
    "welllicensee": "The Railroad Commision of Texas",
    "usertxt4": "01",
    "userboolean4": 0,
    "dttmwelllic": 1400126400000,
    "locationnote": null,
    "latlongdatum": "NAD 27",
    "syssecuritytyp": "ONSUS_NON_TIGHT",
    "displaceunwrapcalc": 2022.557382323717,
    "syscreatedate": 1399542437667,
    "usertxt2": "Permit to Drill, Deepen, Plug Back, or Re-enter",
    "currentwellstatus1calc": "Drilling",
    "wellida": "42-127-36344",
    "ewdist": null,
    "currentwelltyp2calc": null,
    "riskclass": null,
    "usertxt5": null,
    "userboolean1": 0,
    "district": "US Onshore",
    "platform": "Stumberg Estate 5H, 6H, 7H, & 8H",
    "userdttm5": 1405827000000,
    "hisitp": 0,
    "pbtdallcalc": null,
    "usernum3": null,
    "towndist": null,
    "wellidd": "9264212700000000STB0007H1",
    "operator": "Murphy Expl. & Prod. Co - USA",
    "county": "Dimmit",
    "wellide": null,
    "dttmrr": 1404174600000,
    "lease": "Stumberg Area",
    "usernum2": null,
    "operatorcode": "594675",
    "elvorigkb": 169.31640000000001,
    "operated": 0,
    "elvtubhead": null,
    "welllicenseno": "784946",
    "primaryfluiddes": null,
    "currentprimaryfluiddescalc": null,
    "usertxt7": null,
    "elvcasflange": null,
    "idwell": "00457D9192E649ECB8486161E58D138F",
    "stateprov": "Texas",
    "syslockdatemaster": null,
    "syslockdate": 1399542437667,
    "division": "North American Onshore",
    "elvmudline": null,
    "currentwellstatus1": "Pumping Oil",
    "ewflag": null,
    "wellconfig": "Horizontal",
    "leasecode": null,
    "othertocascalc": null,
    "systag": null,
    "com": null,
    "kbtotubcalc": null,
    "utmy": null,
    "legalsurveyloc": null,
    "hih2s": 0,
    "sysmoddate": 1456238085717,
    "townname": null,
    "utmsource": null,
    "usernum4": null,
    "welltyp1": "Development",
    "usertxt3": "Briscoe Ranch (Eagleford)",
    "basincode": null,
    "country": "USA",
    "nsdist": null,
    "environmentsensitive": 0,
    "sysmoduserdb": "wv100",
    "utmx": null,
    "area": "Eagle Ford Shale",
    "elvlat": null,
    "fieldofficecode": null,
    "wellborenocalc": 1,
    "wellname": "Stumberg Estate 7H",
    "usernum5": null,
    "waterdepth": null,
    "surfacerights": null,
    "townflag": null,
    "sysmoddatedb": 1525813651663,
    "usertxt8": null,
    "usertxt1": null,
    "dttmstatuscalc": 1403407800000,
    "wellidb": "S",
    "kbtogrdcalc": 8.077200000000004,
    "currentwellstatus2": null,
    "directionstowell": "4.2 miles NW direction from Catarina, TX",
    "latlongsource": null,
    "locationsensitive": 0,
    "padcode": null,
    "utmgridzone": null,
    "idrecprodsettingcalc": null,
    "dttmabandon": null,
    "divisioncode": null,
    "legalsurveysubtyp": null,
    "idrecproblemcalctk": null,
    "govauthority": null,
    "waterdepthref": null,
    "agent": null,
    "tdallcalc": "Original Hole - 13,511.0",
    "fieldname": "Catarina",
    "syslockchildrenui": null,
    "currentwellstatus2calc": null,
    "problemflag": 0,
    "dttmwellclass": null,
    "dttmspud": 1400738400000,
    "latitude": 28.4151785,
    "usertxt10": null,
    "localtimezone": null,
    "nsflag": null,
    "kbtomudcalc": null,
    "tdtvdallcalc": "Original Hole - 7,306.4",
    "syslockchildren": 0,
    "townstateprov": null,
    "idrecprodsettingcalctk": null,
    "wellidc": null,
    "locationtyp": "Onshore",
    "syscreateuser": "amoser",
    "wellclass": null,
    "currentwelltyp1calc": null,
    "idrecproblemcalc": null,
    "fieldoffice": "Catarina",
    "syslockmeui": null,
    "longitude": -99.624506,
    "usernum6": 1,
    "syslockme": 0,
    "userboolean2": 0,
    "othertomudcalc": null,
    "tdcalc": 4118.1528,
    "usertxt9": null,
    "usernum1": null,
    "idrecelvhistorytk": null,
    "idrecelvhistory": null,
    "basin": null,
    "usertxt6": "KBS CF Route",
    "userdttm3": 1404050400000,
    "sysmoduser": "trankt",
    "othertotubcalc": null,
    "fieldcode": null,
    "userboolean3": 0,
    "kbtoothercalc": null,
    "userdttm2": 1409715000000,
    "legalsurveytyp": null,
    "othertogrdcalc": null,
    "elvground": 161.2392,
    "padname": null,
    "locationref": null,
    "userdttm1": 1406075400000
  }
]