[
  {
    "userdttm4": null,
    "dttmfirstprod": null,
    "userboolean5": null,
    "kbtocascalc": null,
    "slot": "110000904654",
    "welltyp2": null,
    "welllicensee": null,
    "usertxt4": null,
    "userboolean4": null,
    "dttmwelllic": null,
    "locationnote": null,
    "latlongdatum": null,
    "syssecuritytyp": null,
    "displaceunwrapcalc": 5834.882298389933,
    "syscreatedate": 1373960061000,
    "usertxt2": null,
    "currentwellstatus1calc": null,
    "wellida": "100022208315W500",
    "ewdist": 568047.6982018979,
    "currentwelltyp2calc": null,
    "riskclass": null,
    "usertxt5": null,
    "userboolean1": null,
    "district": "Canada",
    "platform": null,
    "userdttm5": null,
    "hisitp": null,
    "pbtdallcalc": null,
    "usernum3": null,
    "towndist": null,
    "wellidd": null,
    "operator": "Murphy Oil Company Ltd",
    "county": "PEACE RIVER",
    "wellide": null,
    "dttmrr": null,
    "lease": null,
    "usernum2": -1219768.25,
    "operatorcode": null,
    "elvorigkb": 2285.10498046875,
    "operated": null,
    "elvtubhead": null,
    "welllicenseno": "0311955",
    "primaryfluiddes": null,
    "currentprimaryfluiddescalc": null,
    "usertxt7": null,
    "elvcasflange": null,
    "idwell": "003E653EB7E64EE39E3F468BD92D43E0",
    "stateprov": "Alberta",
    "syslockdatemaster": null,
    "syslockdate": 1373960061000,
    "division": "North American Onshore",
    "elvmudline": 4555.1181640625,
    "currentwellstatus1": null,
    "ewflag": null,
    "wellconfig": null,
    "leasecode": null,
    "othertocascalc": null,
    "systag": "pceOpenWellsImport",
    "com": null,
    "kbtotubcalc": null,
    "utmy": 20481078.751348734,
    "legalsurveyloc": null,
    "hih2s": null,
    "sysmoddate": 1459843845007,
    "townname": null,
    "utmsource": null,
    "usernum4": null,
    "welltyp1": null,
    "usertxt3": null,
    "basincode": null,
    "country": "Canada",
    "nsdist": 20481078.751348734,
    "environmentsensitive": null,
    "sysmoduserdb": "pcesysvc",
    "utmx": 568047.6982018979,
    "area": "Seal Primary",
    "elvlat": null,
    "fieldofficecode": null,
    "wellborenocalc": 1,
    "wellname": "MURPHY 1-27 HZ W675 SLAVE 2-22-83-15",
    "usernum5": null,
    "waterdepth": 2270.01318359375,
    "surfacerights": null,
    "townflag": null,
    "sysmoddatedb": 1508764902623,
    "usertxt8": null,
    "usertxt1": null,
    "dttmstatuscalc": null,
    "wellidb": "Oil",
    "kbtogrdcalc": null,
    "currentwellstatus2": null,
    "directionstowell": null,
    "latlongsource": null,
    "locationsensitive": null,
    "padcode": null,
    "utmgridzone": null,
    "idrecprodsettingcalc": null,
    "dttmabandon": null,
    "divisioncode": null,
    "legalsurveysubtyp": null,
    "idrecproblemcalctk": null,
    "govauthority": null,
    "waterdepthref": null,
    "agent": null,
    "tdallcalc": "Original Hole - 7,506.56",
    "fieldname": "Slave",
    "syslockchildrenui": null,
    "currentwellstatus2calc": null,
    "problemflag": null,
    "dttmwellclass": null,
    "dttmspud": 1098556200000,
    "latitude": 56.2178898,
    "usertxt10": null,
    "localtimezone": null,
    "nsflag": null,
    "kbtomudcalc": -2270.01318359375,
    "tdtvdallcalc": "Original Hole - 2,049.57",
    "syslockchildren": null,
    "townstateprov": null,
    "idrecprodsettingcalctk": null,
    "wellidc": null,
    "locationtyp": "Onshore",
    "syscreateuser": "pceOpenWellsImport",
    "wellclass": null,
    "currentwelltyp1calc": null,
    "idrecproblemcalc": null,
    "fieldoffice": null,
    "syslockmeui": null,
    "longitude": -116.2731727,
    "usernum6": 1,
    "syslockme": null,
    "userboolean2": null,
    "othertomudcalc": null,
    "tdcalc": 7506.5615234375,
    "usertxt9": null,
    "usernum1": 53147.1328125,
    "idrecelvhistorytk": null,
    "idrecelvhistory": null,
    "basin": null,
    "usertxt6": null,
    "userdttm3": null,
    "sysmoduser": "svc_calpeloton",
    "othertotubcalc": null,
    "fieldcode": "839",
    "userboolean3": null,
    "kbtoothercalc": null,
    "userdttm2": null,
    "legalsurveytyp": null,
    "othertogrdcalc": null,
    "elvground": null,
    "padname": null,
    "locationref": null,
    "userdttm1": null
  }
]